body {
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #339fe7, #0f4cd0);
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  overflow: hidden;
  position: relative;
}




h1 { font-family: cursive;
  font-size: 6rem;
  font-weight: bold;
  letter-spacing: 0.1em;
  background: linear-gradient(45deg, #00e5ff, #38ebff, #41ffec, #00fffb, #00d4e8);
  background-size: 300%;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  animation: gradientMove 4s infinite;
  text-shadow: 2px 2px 5px rgb(0, 0, 0, 0.1);
  margin: 0;
  position: absolute;
  top: 20px; left: 50%; transform: translateX(-50%); text-align: center; z-index: 2; }


.play-button {
  font-size: 1.9rem;
  font-family: cursive;
  color: rgb(0, 30, 255);
  background-color: #8de6d2;
  border: none;
  border-radius: 80px;
  padding: 10px 40px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  z-index: 2;
}

.play-button:hover {
  background-color: #19d1ee;
  transform: scale(1.05);
}

.play-button:active {
  background-color: #00ffbf;
  transform: scale(0.95);
}

.bottom-buttons {
  position: absolute;
  bottom: 20px;
  left: 20px;
  display: flex;
  gap: 10px;
}

.switch-button {
  font-size: 1rem;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.switch-button:hover {
  transform: scale(1.1);
}

.switch-button:active {
  transform: scale(0.95);
}

.blue-button {
  background-color: #007BFF;
}

.blue-button:hover {
  background-color: #0056b3;
}

.red-button {
  background-color: #FF4136;
}

.red-button:hover {
  background-color: #cc0000;
}
